@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
--font: 'Rubik', sans-serif;
--profile-blue: hsl(246, 80%, 60%); 
--work-card: hsl(15, 100%, 70%);
--play-card: hsl(195, 74%, 62%); 
--study-card: hsl(348, 100%, 68%); 
--exercise-card: hsl(145, 58%, 55%); 
--social-card: hsl(264, 64%, 52%) ; 
--self-care-card: hsl(43, 84%, 65%); 
--bg: hsl(226, 43%, 10%); 
--bg-card: hsl(235, 46%, 20%); 
--link: hsl(235, 45%, 61%); 
--text: hsl(236, 100%, 87%); 
}